@use 'sprucecss/scss/spruce' as *;

.post-card {
  $this: &;
  @include a11y-card-link('.post-card__link', true);
  @include layout-stack('m');

  &__thumbnail {
    aspect-ratio: 16 / 11;
    border-radius: config('border-radius-sm', $display);
    inline-size: 100%;
    object-fit: cover;
  }

  &__body {
    @include layout-stack('xs');
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs:s');
  }

  &__title {
    font-size: font-size('h4');
    font-weight: 700;

    a {
      color: color('heading');
      text-decoration: none;
    }
  }
}
