includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - tests/phpstan/breadcrumb-navxt.php
    paths:
        - inc/
        - src/
        - template-parts/
        - 404.php
        - archive-knowledge-base.php
        - archive.php
        - author.php
        - autoload.php
        - footer.php
        - functions.php
        - header.php
        - home.php
        - index.php
        - page.php
        - searchform.php
        - single.php
        - taxonomy-knowledge-base-category.php
        - template-builder.php
        - template-contact.php
    level: 5
