@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.l-post {
  $this: &;
  background-color: color('background');

  > .container + .container {
    > #{$this}__inner {
      padding-block-start: calc(#{get-css-variable(--section-gap)} / 5);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: spacer-clamp('l', 'xl');
    padding-block: calc(#{get-css-variable(--section-gap)} / 1.5) calc(#{get-css-variable(--section-gap)} / 2);
  }

  &--artist-list,
  &--literature {
    #{$this}__list {
      @include breakpoint('lg') {
        --column: 4;
      }
    }
  }

  &--artist {
    #{$this}__inner {
      display: grid;
      gap: get-css-variable(--container-gap);
      grid-template-columns: minmax(0, 1fr);
      padding-block: calc(#{get-css-variable(--section-gap)} / 3) calc(#{get-css-variable(--section-gap)} / 2);

      @include breakpoint('xs') {
        grid-template-columns: minmax(0, 10rem) minmax(0, 1fr);
        padding-block: calc(#{get-css-variable(--section-gap)} / 1.5) calc(#{get-css-variable(--section-gap)} / 2);
      }

      @include breakpoint('sm') {
        grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
      }

      @include breakpoint('lg') {
        grid-template-columns: minmax(0, 20rem) minmax(0, 1fr);
      }
    }

    #{$this}__heading {
      padding-block-start: 0;
    }
  }

  &__header {
    @include selection('secondary', hsl(0deg 0% 100%));
    align-items: end;
    display: grid;

    > * {
      grid-area: 1 / 1;
    }

    #{$this}__heading {
      padding-block: 0 spacer('l');
      position: relative;
      z-index: 10;
    }

    #{$this}__title {
      @include set-css-variable((
        --base-color-heading: hsl(0deg 0% 100%)
      ));
    }
  }

  &__background {
    img {
      block-size: 15rem;
      inline-size: 100%;
      object-fit: cover;
      object-position: center;

      @include breakpoint('md') {
        block-size: 20rem;
      }
    }
  }

  &__heading {
    @include layout-stack(0);
    display: flex;
    flex-direction: column;
    padding-block-start: calc(#{get-css-variable(--section-gap)} / 2.5);

    &--center {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-size: responsive-font-size(3rem, 35, '1rem + 2vw');
    max-inline-size: 70rem;
    text-transform: uppercase;

    span {
      font-weight: 400;
    }
  }

  &__subtitle {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  }

  &__list {
    --column: 1;

    display: grid;
    gap: spacer('l');
    grid-template-columns: repeat(var(--column), minmax(0, 2fr));

    @include breakpoint('xs') {
      --column: 2;
    }

    @include breakpoint('md') {
      --column: 3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: spacer-clamp('m', 2rem);
  }

  &__thumbnail {
    aspect-ratio: 4 / 5;
    object-fit: cover;
    object-position: center;
  }

  &__vimeo {
    iframe {
      aspect-ratio: 16 / 9;
      inline-size: 100%;
    }
  }
}
