@use 'sprucecss/scss/spruce' as *;

.heading {
  $this: &;
  @include layout-stack('xs');
  margin-block-end: spacer-clamp(1rem, 'l');

  &--space-between {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs:m');
    inline-size: 100%;
    justify-content: space-between;
  }

  &--center {
    text-align: center;

    #{$this}__description {
      margin-inline: auto;
    }
  }

  &--light {
    @include set-css-variable((
      --base-color-heading: hsl(0deg 0% 100%),
    ));
  }

  &__caption {
    @include layout-stack('xs');
    max-inline-size: 50rem;
  }

  &__subtitle {
    color: color('secondary');
    font-weight: 700;
    text-transform: uppercase;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: spacer('s');
  }
}
