@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.heading {
  $this: &;
  @include layout-stack('s');
  margin-block-end: spacer-clamp(1rem, 'l');
  margin-inline: auto;
  max-inline-size: 50rem;
  text-wrap: balance;

  &--center {
    text-align: center;

    #{$this}__description {
      margin-inline: auto;
    }
  }

  &__title {
    font-size: responsive-font-size(3rem, 35);
  }

  &__subtitle {
    background-color: black;
    border-radius: 3rem;
    color: white;
    display: inline-flex;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.15em 1.25em;
    text-transform: uppercase;
  }

  &__description {
    @include breakpoint('md') {
      font-size: 1.1rem;
    }
  }
}
