@use 'sprucecss/scss/spruce' as *;

.logged-in.admin-bar {
  .site-header {
    inset-block-start: 32px;

    @media (max-width: 782px) {
      inset-block-start: 46px;
    }
  }
}

html[style*='padding-right'] {
  .site-header {
    inset-inline-end: 17px;
  }
}

.site-header {
  $this: &;
  @include transition;
  background-color: color('background', 'header');
  inset: 0 0 auto;
  position: fixed;
  z-index: 50;

  &--hidden {
    transform: translateY(-100%);

    #{$this}__logo {
      transform: translateY(-100%);
    }
  }

  &--small {
    @include breakpoint('md') {
      #{$this}__inner {
        block-size: calc(#{get-css-variable(--header-block-size)} / 1.25);
      }

      #{$this}__logo {
        svg,
        img {
          block-size: 1.15rem;
        }
      }
    }
  }

  &__inner {
    @include transition;
    align-items: center;
    block-size: get-css-variable(--header-block-size);
    display: flex;
    gap: spacer('m');
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;

    svg,
    img {
      @include transition;
      block-size: 1rem;
      inline-size: auto;

      @include breakpoint('md') {
        block-size: 1.25rem;
      }
    }
  }

  &__btns {
    align-items: center;
    display: flex;
    gap: spacer('s');
  }

  &--open {
    .site-navigation__btn {
      z-index: 15;

      span {
        &:first-child {
          transform: rotate(45deg) translateX(10px) translateY(13px);
          transform-origin: right top;
        }

        &:last-child {
          inline-size: 100%;
          transform: rotate(-45deg) translateX(11px) translateY(-15px);
          transform-origin: right bottom;
        }
      }
    }

    .site-navigation__panel {
      opacity: 100%;
      visibility: visible;
    }
  }
}
