@use 'dark-colors' as dark;

$color-black: hsl(0deg 0% 0%);
$color-primary: hsl(216deg 100% 50%);
$color-secondary: hsl(326deg 100% 49%);
$color-tertiary: hsl(169deg 100% 50%);

@use 'sprucecss/scss/spruce' with (
  $btn: (
    'border-radius': 2rem,
    'border-width': 1px,
    'font-weight': 500,
    'icon-padding': 0.85em,
    'padding': 0.75em 1.65em,
  ),
  $btn-lg: (
    'font-size': 1rem,
    'padding': clamp(0.75em, 3vw, 1em) clamp(1.35em, 3vw, 1.75em),
  ),
  $color-black: $color-black,
  $color-primary: $color-primary,
  $color-secondary: $color-secondary,
  $colors: (
    'btn': (
      'primary-outline-foreground-hover': hsl(0deg 0% 100%),
      'secondary-background-hover': hsl(326deg 100% 47%),
      'pagination-background': hsl(264, 100%, 99%),
      'pagination-background-hover': $color-primary,
      'pagination-focus-ring': $color-primary,
      'pagination-foreground': $color-primary,
      'pagination-foreground-hover': hsl(0deg 0% 100%),
    ),
    'feature-grid': (
      'background': hsl(216deg 100% 97.5%),
      'dot': hsl(207deg 50% 91%),
    ),
    'header': (
      'background': hsl(0deg 0% 100%),
    ),
    'navigation': (
      'hamburger': $color-primary,
      'arrow': hsl(0deg 0% 0% / 15%),
    ),
  ),
  $dark-colors: dark.$colors,
  $display: (
    'border-radius-lg': 1.5rem,
    'border-radius-xl': clamp(2.5rem, 4vw, 3.5rem),
  ),
  $generators: (
    'content': (
      'accessibility': true,
      'default': true,
      'display': true,
      'divider': true,
      'layout': true,
      'media': true,
      'normalize': true,
      'print': true,
      'root': true,
      'table': true,
      'typography': true,
      'utilities': true,
    ),
    'form': (
      'btn': true,
      'file-btn': false,
      'form-check': true,
      'form-control': true,
      'form-description': false,
      'form-feedback': false,
      'form-fieldset': false,
      'form-group': true,
      'form-label': true,
      'form-range': false,
      'form-row': true,
      'form-switch': true,
    ),
  ),
  $layout: (
    'container-inline-size': 92rem,
  ),
  $settings: (
    'css-custom-properties': true,
    'hyphens': false,
    'prefix': 'base',
  ),
  $typography: (
    'font-family-base': #{'Work Sans', sans-serif},
    'font-family-heading': #{'Work Sans', sans-serif},
    'font-weight-heading': 400,
  ),
);
